{% extends "base.html" %}

{% block title %}
    Privacy Policy {{ super() }}
{% endblock %}

{% block page_header %}
    Privacy Policy
{% endblock %}


{% block content %}

    <ul>
    <li>Third party vendors, including Google, use cookies to serve ads based on a user's prior visits to this website.</li>
        <li>Google's use of advertising cookies enables it and its partners to serve ads based on your visit to this site and/or other sites on the Internet.</li>
        <li>You can opt out of personalized advertising by visiting <a href="https://www.google.com/settings/ads" target="_blank">Ads Settings</a>.</li>
    </ul>
{% endblock %}
